/* For Fonts, Link in the description */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --accent: #5753ff;
  --black: #121111;
  --gray: #181818;
}

html {
  scroll-behavior: smooth;
  background-color: var(--black);
}

body {
  min-height: 100vh;
}

div,
section {
  overflow: hidden;
}

section {
  min-width: 100%;
  min-height: 100vh;
  color: white;
  background-color: var(--black);
}

/* Navbar */
nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 50px;
  transition: all 0.5s ease-in-out;
  background-color: var(--black);
  filter: drop-shadow(5px 5px 10px transparent);
}

/* Navbar Sticky */
nav.sticky {
  background: var(--black);
  filter: drop-shadow(5px 5px 10px rgba(180, 168, 255, 0.13));
}

/* Navbar Brand */
.brand {
  font-size: 32px;
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.brand:hover {
  opacity: 0.8;
}

/* Navbar Menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu a,
.menu-navbar a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.menu a::after,
.menu-navbar a::after {
  color: var(--accent);
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.btn-2 {
  width: 200px;
  height: 45px;
  font-size: 20px;
  background-color: var(--black);
  border: 1px solid white;
  color: white;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.btn-2:hover {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

/* Hero Section  */
.hero-section {
  display: flex;
  margin-top: 80px;
  padding: 0px 50px;
  gap: 50px;
}

.hero-section img {
  margin-top: 20px;
  width: 40%;
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
  border-bottom: 1px solid white;
}

/* Hero Headline */
.hero-headline {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.hero-headline h1 {
  font-size: 96px;
  font-weight: 900;
}

.hero-headline h2 {
  font-size: 64px;
  color: var(--accent);
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-hero {
  display: flex;
  width: 234px;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-hero:hover {
  gap: 10px;
}

/* Hero Logos */
.hero-logos {
  display: flex;
  gap: 20px;
}

.hero-logos i {
  font-size: 50px;
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
}

.hero-logos i:hover {
  color: var(--accent);
}

.hero-tagline {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 250px;
  align-self: flex-end;
  gap: 10px;
}

.hero-tagline p {
  font-size: 20px;
  text-justify: inter-word;
  text-align: justify;
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 82px;
}

.about div {
  display: flex;
  width: 1111px;
  gap: 40px;
}

.about-headline {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-headline p {
  font-size: 36px;
}

.about-headline hr {
  width: 50%;
  margin-top: 5px;
}

.about .about-headline:nth-child(2) {
  align-items: end;
}

.about .about-headline:nth-child(2) p {
  text-align: end;
  font-weight: 800;
}

.about .about-headline:nth-child(2) p b {
  color: var(--accent);
}

.btn-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-about p {
  font-size: 20px;
}

/* Works Section */
.works {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.works h1 {
  font-size: 64px;
  align-self: center;
  margin-bottom: 60px;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px;
  gap: 25px;
  justify-content: center;
}

.work-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.work-title {
  display: flex;
  gap: 5px;
  align-items: center;
}

.work-title h4 {
  font-size: 32px;
  font-weight: 700;
}

.work-title h5 {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.6;
}

.work-links a {
  font-size: 20px;
  color: white;
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  padding: 5px;
  margin-right: 5px;
  transition: all ease-in-out 0.3s;
}

.work-links a:hover {
  background-color: white;
  text-decoration: none;
  color: var(--black);
}

/* Testimonials Section */
.testimonials {
  display: flex;
  padding: 100px 50px;
  justify-content: center;
  gap: 24px;
  background-color: var(--black);
  color: white;
}

.testimony {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 250px;
  background-color: var(--gray);
  justify-content: space-between;
  border-radius: 32px;
  padding: 40px 40px 22px 40px;
}

.testimony-text {
  font-size: 20px;
}

.testimony-people {
  font-size: 16px;
}

.testimony-people i {
  color: var(--accent);
}

/* Callout Section */
.callout {
  display: flex;
  background-color: var(--black);
  color: white;
  justify-content: center;
  padding: 0px 150px;
  margin-bottom: 50px;
}

.callout div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.callout div h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.btn-callout {
  font-size: 32px;
  font-weight: 700;
  width: 295px;
  height: 65px;
  border-radius: 32px;
  color: var(--black);
  border: 1px solid white;
  filter: drop-shadow(5px 5px 10px transparent);
  background-color: white;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.btn-callout:hover {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent);
  filter: drop-shadow(10px 10px 20px rgba(7, 57, 255, 0.8));
}

/* Footer Section */
footer {
  background-color: var(--black);
  padding: 50px;
}

footer hr {
  margin: 24px 0px;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer a {
  text-decoration: none;
}

.social-box {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.social-box i {
  font-size: 30px;
  color: white;
}

.social-box:hover {
  background-color: var(--accent);
  color: white;
}

/* Contact Page Section */
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  padding: 0px 50px;
}

.contact h1 {
  font-size: 128px;
  width: 600px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-tagline {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 70px;
}

.contact-tagline img {
  height: 30px;
}

.contact-tagline p {
  width: 411px;
}

.contact-info {
  display: flex;
  gap: 40px;
  margin-top: 70px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-item h6 {
  font-size: 20px;
  opacity: 0.5;
}

.contact-item p {
  font-size: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0px 100px;
  margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid white;
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
  background-color: transparent;
  color: white;
}

.contact-form input:focus {
  outline: none;
}

.btn-contact {
  width: 300px;
  height: 80px;
  font-size: 32px;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  margin-bottom: 100px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-contact:hover {
  background-color: white;
  color: var(--black);
}

/* Work Page Section */
.work-page {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.work-page-title {
  display: flex;
  align-items: center;
}

.work-page-title h1 {
  font-size: 128px;
}

.work-page-title h4 {
  font-size: 32px;
  opacity: 0.5;
}

.work-page p {
  font-size: 32px;
  width: 972px;
}

.work-page .work-links {
  margin: 30px 0px 50px 0px;
}

.work-page-images {
  margin: 50px 0px 100px 0px;
  display: flex;
  gap: 24px;
}

.work-page-images img {
  transform: scale(1);
  transition: all ease-in 0.3s;
}

.work-page-images img:hover {
  transform: scale(0.9);
}

/* Laptop and Tablet */
@media (max-width: 1024px) and (min-width: 0px) {
  section {
    min-height: 100%;
  }

  /* Hero Section */
  .hero-section img {
    max-width: 500px;
    height: auto;
    margin-left: -180px;
  }

  .hero-headline {
    margin-top: 80px;
  }

  .hero-headline h1 {
    font-size: 48px;
  }

  .hero-headline h2 {
    font-size: 36px;
  }

  .btn-hero {
    width: 146px;
    height: 35px;
    font-size: 14px;
    gap: 10px;
  }

  .btn-hero:hover {
    gap: 8px;
  }

  .hero-tagline {
    width: 230px;
    margin-top: 140px;
  }

  .hero-tagline p {
    font-size: 15px;
  }

  /* About Section */
  .about div {
    width: 650px;
  }

  .about-headline p {
    font-size: 20px;
  }

  .about div {
    gap: 10px;
  }

  .about div img {
    width: 222px;
    height: auto;
  }

  /* Projects Section */
  .work-item {
    align-items: center;
  }

  /* Testimonials Section */
  .testimonials {
    flex-direction: column;
    align-items: center;
  }

  .testimony {
    width: 100%;
    height: 210px;
    padding: 40px;
    text-align: center;
  }

  /* Callout Section */
  .callout {
    padding: 0px 25px;
  }

  .callout div h2 {
    font-size: 32px;
  }

  .btn-callout {
    width: 243px;
    height: 52px;
    font-size: 24px;
  }

  .callout img {
    width: 145px;
    height: 136px;
    height: auto;
  }

  /* Work Page Section */
  .work-page-title {
    gap: 12px;
  }

  .work-page-title h1 {
    font-size: 64px;
  }

  .work-page-title h4 {
    font-size: 20px;
  }

  .work-page p {
    font-size: 20px;
    width: 600px;
  }

  .work-page-images {
    margin-top: 0px;
    flex-direction: column;
  }

  /* Contact Page Section */
  .contact {
    padding: 0px 25px;
  }

  .contact-container {
    gap: 25px;
  }

  .contact-container h1 {
    width: 270px;
    font-size: 64px;
  }

  .contact-tagline {
    gap: 15px;
    margin-top: 25px;
  }

  .contact-tagline p {
    font-size: 14px;
    width: 260px;
  }

  .contact-tagline img {
    width: 138px;
  }

  .contact-info {
    margin-top: 10px;
  }

  .contact-item h6,
  .contact-item p {
    font-size: 16px;
  }

  .contact-form {
    padding: 10px 0px;
    gap: 25px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 36px;
  }

  .btn-contact {
    width: 200px;
    height: 55px;
    font-size: 24px;
    margin-top: 10px;
  }
}

/* Phone */
@media (max-width: 767px) and (min-width: 0px) {

  /* Navbar */
  nav {
    padding: 20px 30px;
    width: 100%;
  }

  nav .btn {
    display: block;
    color: white;
    font-size: 24px;
  }

  nav .menu {
    position: fixed;
    background: var(--accent);
    flex-direction: column;
    min-width: 70%;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 50px;
    transition: 0.5s;
    transition-property: right;
  }

  nav .menu.active {
    right: 0;
  }

  nav .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    color: white;
  }

  nav .menu a {
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
    color: white;
  }

  nav .menu .btn-2 {
    border: var(--accent);
  }

  /* Hero Section */
  .hero-section {
    flex-direction: column-reverse;
    padding: 0px 20px;
    gap: 5px;
  }

  .hero-headline {
    margin-top: 24px;
    align-items: center;
  }

  .hero-headline h1 {
    font-size: 36px;
  }

  .hero-headline h2 {
    font-size: 24px;
  }

  .hero-buttons {
    gap: 8px;
  }

  .btn-hero {
    width: 136px;
    height: 30px;
    font-size: 12px;
  }

  .hero-logos i {
    font-size: 30px;
    margin-top: 10px;
  }

  .hero-tagline {
    align-self: center;
    margin-top: 45px;
  }

  .hero-tagline p {
    text-align: center;
  }

  .hero-section img {
    width: 277px;
    height: auto;
    margin-left: 0px;
    align-self: center;
  }

  /* About Section */
  .about {
    margin-top: 32px;
    gap: 32px;
  }

  .about div {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
  }

  .about-headline p {
    font-size: 16px;
    text-align: center;
  }

  .about-headline img {
    width: 100%;
  }

  .about .about-headline:nth-child(2) {
    align-items: center;
    order: 0;
  }

  #second-about-img {
    order: 1;
  }

  .about .about-headline:nth-child(2) p {
    text-align: center;
  }

  /* Works Section */
  .works h1 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .work-container {
    padding: 0px 20px;
  }

  .work-item img {
    width: 100%;
  }

  .work-title {
    flex-direction: column;
  }

  .work-links a {
    font-size: 14px;
  }

  .testimonials {
    padding: 50px 20px;
  }

  .testimony p {
    font-size: 12px;
  }

  /* Callout Section */

  .callout {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .callout div {
    gap: 10px;
  }

  .callout div h2 {
    font-size: 20px;
  }

  .btn-callout {
    width: 124px;
    height: 35px;
    font-size: 16px;
  }

  .callout img {
    width: 74px;
  }

  .callout img:nth-child(3) {
    align-self: flex-end;
  }

  /* Footer Section */
  footer {
    padding: 30px;
  }

  footer div {
    flex-direction: column;
  }

  .socials {
    flex-direction: row;
  }

  footer p {
    font-size: 12px;
    margin-top: 10px;
  }

  /* Work Page */
  .work-page {
    padding: 20px;
    min-height: 100%;
  }

  .work-page-title {
    flex-direction: column;
  }

  .work-page p {
    width: 100%;
    font-size: 16px;
  }

  .work-page-images {
    margin: 0px;
  }

  .work-page-images img {
    width: 100%;
  }

  /* Contact Page */

  .contact-container {
    flex-direction: column;
    gap: 5px;
  }

  .contact-container h1 {
    font-size: 32px;
    align-self: center;
  }

  .contact-tagline {
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 24px;
    padding: 10px 0px;
  }

  .btn-contact {
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin: 10px 0px 30px 0px;
  }
}